*{
    box-sizing: border-box;
    margin:0%;
    padding: 0%;

}

.navbar {
    padding: 38px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #6e0d0d;
    color: #ffffff;
    width: 100%;
    Height: 25%;
    position: relative;
}

.navbar h1 {
    display: inline;
    font-size: 36px;
    float: left;
    position: relative;
    top: -24px;
}

.navbar header {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navbar nav ul {
    list-style-type: none;
    text-align: right;
    width: 406px;
    float: right;
    position: relative;
    top: -54px;
    right: -31px
}

.navbar nav ul li {
    margin-left: 25px;
    text-align: right;
    display: inline;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(file:///Users/samanthagosselin/repos/portfolio/assets/banner.jpg);
    background-size: cover;
    background-position: center;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 01%;
    top:45px;
    
}

.vertical {
    border-left: 3px solid black;
    position: relative;
    height: 60px;
    top: -65px;
    Left: 15%;
    
}



.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 20%;
    top:4px;
    overflow-wrap: break-word;
    width: 75%
}


.title2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 01%;
    top:200px;
    

}

.vertical2 {

    border-left: 3px solid black;
    position: relative;
    height: 200px;
    top: -100px;
    Left: 13.6%;
    

}

.comingsoon1 {
    width:500px;
    height:400px;
    left: 16%;
    top: -250px;
    position:relative;
    border-style:solid;
    border-color: red;
}

.card {
    flex: 1 0 0;
    
    hieght: 183px;
    width: 275px;
    position: relative;
    top: -250px;
    right: -120px;
    
  }